header {
  background-color: blue;
}

#topContacts {
  float: left;
  margin-top: 20px;
}

#biopic img {
  width: 25%;
  height: auto;
  margin-top: 10px;
}

.skills li {
  font-size: 20px;
  display: none;
}

#workExperience div {
  display: none;
}

#projects div {
  display: none;
  margin-bottom: 40px;
}

#projects img {
  margin-left: 20px;
}

#education div {
  display: none;
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}
