p {
  font-style: italic;
}

nav {
  margin: 10px;
}

header {
  background-color: #c6dabf;
  padding: 10px;
}

#topContacts {
  margin-top: 20px;
}

#biopic img {
  width: 25%;
  height: auto;
  margin-top: 10px;
}

#workExperience p {
  font-style: italic;
}

#skills li {
  font-size: 14px;
}

#projects {
  background-color: #c6dabf;
}

#projects h2 {
  padding-top: 20px;
}

#projects div {
  margin-bottom: 20px;
}

#projects img {
  margin: auto;
  padding-bottom: 10px;
}

#projects p {
  font-size: 16px;
}

.project-entry a {
  font-size: 24px;
}

.project-entry .date-text {
  font-size: 20px;
}

.education-entry {
  padding: 10px;
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

#lets-connect {
  margin-top: 20px;
  background-color: #c6dabf;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

@media screen and (max-device-width: 479px) {
  #lets-connect {
    margin-top: 100px;
  }
}

@media screen and (min-device-width: 480px) and (max-device-width: 768px) {
  #lets-connect {
    margin-top: 60px;
  }
}
