header {
  background-color: #c6dabf;
}

#topContacts {
  margin-top: 20px;
}

#biopic img {
  width: 25%;
  height: auto;
  margin-top: 10px;
}


#skills li {
  font-size: 16px;
}

#projects {
  background-color: #c6dabf;
}
#projects div {
  margin-bottom: 20px;
}

#projects img {
  margin-left: 20px;
  padding-bottom: 10px;
}


#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

/*.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}*/
